.items {
  padding: 116px 0 101px 0;
}

.items_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 348px;
  margin: 0 15px;
  margin-bottom: 100px;
}
.item:nth-child(4) {
  margin-bottom: 0;
}
.item:nth-child(5) {
  margin-bottom: 0;
}
.item:nth-child(6) {
  margin-bottom: 0;
}

.items_image {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.items_image img {
  width: 100%;
}

.items_title {
  margin-bottom: 34px;
}

.items_text p {
  text-align: center;
  color: #6C7279;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .items_wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .items_wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .items_image img {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .item {
    margin-bottom: 65px;
  }
  .item:nth-child(4), .item:nth-child(5) {
    margin-bottom: 65px;
  }

  .items {
    padding: 80px 0 85px 0;
  }

  .items_image {
    margin-bottom: 25px;
  }
  .items_image img {
    width: 80%;
  }

  .items_title {
    margin-bottom: 20px;
  }
}
@media (max-width: 430px) {
  .container {
    max-width: 100%;
  }

  .items_image img {
    width: 70%;
  }

  .items {
    padding: 60px 0 70px 0;
  }

  item {
    margin-bottom: 40px;
  }
  item:nth-child(4), item:nth-child(5) {
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}