.carusel_container {
  margin: auto;
  max-width: 1510px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_block_image {
  width: 50%;
  height: 476px;
  overflow: hidden;
  position: relative;
}
.carusel_image {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.item_block_text {
  background-color: #5c3249;
  width: 50%;
  height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  p {
    font-family: "Cardo";
    font-style: italic;
    font-weight: $font-weight400;
    font-size: 2.5rem;
    line-height: 3.06rem;
    text-transform: capitalize;
    color: #ffffff;
  }
  span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font_size13;
    line-height: 15px;
    color: #ffffff;
  }
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #7e5d6f;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: #7e5d6f;
  border: 1px solid #7e5d6f;
}

@media (max-width: 992px) {
  .carusel_image {
    width: 100%;
    left: 0;
  }
  .row {
    flex-direction: column;
  }
  .item_block_image,
  .item_block_text {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .item_block_text {
    padding-left: 30px;
    height: 350px;
  }
}
@media (max-width: 700px) {
  .carusel_image {
    top: 74%;
  }
}
@media (max-width: 430px) {
  .item_block_text {
    padding: 15px;
    height: 297px;
  }
  .carusel_image {
    top: 62%;
  }
  .item_block_image {
    height: 250px;
  }
}
