.foto {
  padding: 90px 0 165px 0;
}

.foto_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto; 
}
.foto_item {
  width: 275px;
  margin-right: 23px;
  &:last-child {
    margin-right: 0;
  }
}
.foto_image {
  width: 269px;
  height: 269px;
  overflow: hidden;
  margin-bottom: 25px;
  img {
    width: 100%;
    height: 100%;
  }
}
.foto_title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #2d3033;
  margin-bottom: 5px;
}
.foto_title_pink {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ff4343;
  margin-bottom: 18px;
}
.foto_text {
  margin-bottom: 38px;
  p {
    font-weight: 400;
    font-size: 18px;
    color: #6c7279;
  }
}
.icons{
  display: flex;
  a{
    width: 39px;
    height: 39px;
    border: 1px solid #C6CBCD;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.fa-brands {
  color:#C6CBCD;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .icons{
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .foto {
    padding: 90px 0 20px 0;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .foto_text {
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 430px) {
  .container {
    max-width: 100%;
  }
  .foto_item {
    margin-right: 0;
}
}
@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}
