.foto {
  padding: 90px 0 165px 0;
}

.foto_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.foto_item {
  width: 270px;
  margin: 15px;
  &:last-child {
    margin-right: 0;
  }
}
.foto_image {
  height: 270px;
  margin-bottom: 25px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    transform: scale(1.1) translate(5px);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.foto_title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #2d3033;
  margin-bottom: 5px;
}
.foto_title_pink {
  font-weight: $font-weight400;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ff4343;
  margin-bottom: 18px;
}
.foto_text {
  margin-bottom: 38px;
  p {
    font-weight: $font-weight400;
    font-size: $font_size18;
    color: #6c7279;
  }
}
.icons {
  display: flex;
  a {
    width: 39px;
    height: 39px;
    border: 1px solid #c6cbcd;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.fa-brands {
  color: #c6cbcd;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .icons {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .foto {
    padding: 90px 0 20px 0;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .foto_text {
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 664px) {
  .foto_item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 430px) {
  .container {
    max-width: 100%;
  }
  .foto_image {
    margin-bottom: 0;
    img {
      width: 80%;
      height: 80%;
      border-radius: 50%;
    }
  }
  .foto {
    padding: 65px 0 20px 0;
  }
  .foto_item {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}
