.header {
  padding: 38px 0 120px 0;
  background: url("../img/bg/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    background: rgba(37, 43, 73, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  border-bottom: 1px solid #babbc5;
  .nav_ul {
    display: flex;
    width: 670px;
    a {
      display: block;
      width: 134px;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;
      font-weight: 700;
      font-size: $font_size13;
      padding-top: 31px;
      padding-bottom: 26px;
      border-bottom: 3px solid rgb(186, 187, 197, 0);
      &:hover {
        padding-top: 31px;
        border-bottom: 3px solid #babbc5;
      }
      &:active {
        border-bottom: 3px solid $color_red;
        color:$color_red;
      }
    }
  }
}
.span_active {
  text-transform: uppercase;
  color: #656980;
  font-size: 1.875rem;
  font-weight: $font-weight;
  &::after {
    content: "box";
    text-transform: uppercase;
    font-weight: 400;
  }
}
.header_block_text {
  text-align: center;
}
.header_title {
  font-weight: $font-weight;
  color: $color-white;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 75px;
  margin-bottom: 31px;
}
.header_text {
  margin-bottom: 80px;
  p {
    font-weight: 400;
    font-size: $font_size24;
    line-height: 28px;
    color: $color-white;
    text-align: center;
  }
}
// для гамбургера
.nav_menu {
  position: fixed;
  flex-direction: column;
  width: 100%;
  top: 79px;
  left: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
  left: -100%;
  cursor: pointer;
  li {
    margin-bottom: 36px;
    margin-left: 20px;
  }
  a{
    color:white;
  }
}
// скрываем его
.hamburger {
  display: none;
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s;
    background: #ffffff;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .header_navigation {
    .nav_ul {
      width: 600px;
      a {
        width: 113px;
      }
    }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  body.lock{
    overflow: hidden;
  }
  .header_navigation {
    .header_logo {
      padding-bottom: 20px;
    }
    .nav_ul {
      display: none;
      a {
        width: 92px;
        font-size: 12px;
      }
    }
  }
  .header_text {
    p {
      font-size: 18px;
    }
  }
  .hamburger {
    display: block;
    top: -4px;
    right: 20px;
    position: absolute;
  }
  .nav_menu {
    position: absolute;
    flex-direction: column;
    transition: 0.3s;
    height: 326px;
    overflow: auto;
    left: -100%;
    top: 0;
    padding-top: 46px;
    opacity: 0.5;
  }
  .nav_menu.active {
    left: 0;
  }
  .header_block_text.active {
    display: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 430px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
  .header_navigation {
    border-bottom: none;
  }
}
